<a class="navbar-item" href="/private/revisores">Revisores</a>
<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Asignaciones
    </a>

    <div class="navbar-dropdown">
        <a class="navbar-item" href="/private/asignaciones/articulos">
            Por Artículo
        </a>
        <a class="navbar-item" href="/private/asignaciones/revisores">
            Por Revisor
        </a>
    </div>
</div>
